<% provide(:title, 'Create Meal Plan') %>
<form class="form-horizontal" id="createMealPlanForm">
  <fieldset>

    <!-- Form Name -->
    <legend> <h1 id="formTitle"> Weekly Menu </h1></legend>
    <div class="text-center">
    <div class="btn-group btn-group-lg" id="weekCal">
      <button type="button" class="btn btn-default">Monday</button>
      <button type="button" class="btn btn-default">Tuesday</button>
      <button type="button" class="btn btn-default">Wednesday</button>
      <button type="button" class="btn btn-default">Thursday</button>
      <button type="button" class="btn btn-default">Friday</button>
    </div>
    </div>

    <!-- Multiple Checkboxes -->
    <div class="control-group" id="venueOptions">
      <label class="control-label" for="checkboxes"><h2 class="venueLocationTitle">Clark Kerr</h2></label>
      <div class="controls" id="menuItems">
        <label class="checkbox" for="checkboxes-0">
          <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Option one">
          Option one
        </label>
        <label class="checkbox" for="checkboxes-1">
          <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Option two">
          Option two
        </label>
        <label class="checkbox" for="checkboxes-2">
          <input type="checkbox" name="checkboxes" id="checkboxes-2" value="Option 3">
          Option three
        </label>
        <label class="checkbox" for="checkboxes-3">
          <input type="checkbox" name="checkboxes" id="checkboxes-3" value="Option 4">
          Option four
        </label>
      </div>
    </div>

  </fieldset>
</form>
