<h1 id="crossRoadsTitle" class="text-center">Crossroads Menu</h1>

    <div id="breakfast" style="height:800px;width:350px;float:left;">
      <h2 id="breakfastTitle">Breakfast Items</h2>
      <div class="invisScroll">
      <div id="breakfastDisplay">
      <%= render 'breakfastRender' %>
      </div>
      </div>
    </div>

    <div id="lunch">
        <h2 id="lunchTitle">Lunch Items</h2>
      <div class="invisScroll">
      <div id="lunchDisplay">
         <%= render 'lunch' %>
      </div>
      </div>
    </div>


    <div id="dinner">
        <h2 id="dinnerTitle">Dinner Items</h2>
      <div class="invisScroll">
     <div id="dinnerDisplay">
        <%= render 'dinnerRender' %>
     </div>
      </div>
    </div>
