<footer class="footer">
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <small id="footerTitle">
        UC Berkeley Evernote Hackathon 2014
    </small>
    <nav class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        <li><%= link_to "Create Meal Plan", create_path, id:"headerLinks" %></li>
        <li><%= link_to "Evernote Sync", '#', id:"headerLinks"%></li>i>
      </ul>
    </nav>
  </nav>
</footer>